* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Permanent Marker", cursive;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #040f16;
}

body::-webkit-scrollbar-thumb {
  background-color: teal;
  outline: 3px solid gold;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hero-section {
  background-image: url(../images/run-the-jewels-animated.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#main-title {
  color: #e0d7d7;
  -webkit-text-stroke: 3px rgb(0, 128, 128);
  font-family: "Permanent Marker", cursive;
  font-size: 100px;
  letter-spacing: 15px;
  text-align: left;
  padding-top: 5%;
  margin-bottom: 75px;
  margin-left: 50px;
  /* border-bottom: 2px solid teal; */
  overflow: hidden;
  z-index: 2;
}

#main-title:hover {
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 4px teal;
}

#game-instructions {
  background-color: rgb(0, 128, 128);
  color: #ffffff;
  width: 700px;
  height: 400px;
  border: 5px solid rgba(255, 217, 0, 0.746);
  padding: 20px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

#instructions-header {
  color: #ffffff;
  -webkit-text-stroke: 3px black;
  font-size: 40px;
  border-bottom: 2px solid gold;
  margin-bottom: 10px;
  text-align: center;
}

.instructions-p {
  -webkit-text-stroke: 2px black;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
}

#icon-container {
  margin-top: 30px;
  text-align: center;
}

#enter-icon {
  color: rgb(255, 217, 0);
  font-size: 100px;
  text-align: center;
  margin-bottom: 80px;
  visibility: visible;
}

#enter-icon:hover {
  color: teal;
  -webkit-text-stroke: 2px #ffffff;
}

#start-btn {
  color: #ffffff;
  background-color: black;
  border: 2px solid gold;
  font-size: 40px;
  text-align: center;
  padding: 10px 20px 50px 20px;
  height: 50px;
  width: 300px;
  margin: 0 auto;
  visibility: hidden;
}

/* Hero section styles end */

#game-section {
  background-image: url(../images/run-the-jewels-animated.jpg);
  background-position: left;
  /* background-size: cover; */
  background-color: black;
  height: 100vh;
  margin-top: 20px;
  overflow: visible;
}

.game-display-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.game-display {
  background-color: teal;
  text-align: center;
  width: 800px;
  height: 155px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  border: 5px solid black;
}

.game-header {
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

h2 {
  color: black;
  -webkit-text-stroke: 2px rgb(255, 217, 0);
  font-size: 40px;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}

.game-display-value {
  color: black;
  -webkit-text-stroke: 2px rgb(255, 217, 0);
  font-size: 80px;
}

#reset-btn {
  position: relative;
  display: block;
  color: teal;
  -webkit-text-stroke: 2px gold;
  text-align: center;
  font-size: 80px;
  margin-right: 30px;
  z-index: 2;
}

#reset-btn:hover {
  color: white;
  -webkit-text-stroke: 2px teal;
}

.jewel-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0 0px 0;
}

.jewel-img {
  width: 300px;
  height: 300px;
  border: 5px solid rgb(255, 217, 0);
  margin-right: 50px;
}

.jewel-img:last-child {
  margin-right: 0;
}

.jewel-img:hover {
  border: 20px solid teal;
}

#wins-lose-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 5px;
  margin-right: 100px;
}

.wins-losses-box {
  background-color: gold;
  text-align: center;
  width: 600px;
  height: 100px;
  padding: 10px;
  margin-right: 20px;
  border: 6px solid black;
}

.wins-losses-box > p {
  color: teal;
  -webkit-text-stroke: 2px black;
  font-size: 25px;
}

.wins-losses-h2 {
  color: teal;
  -webkit-text-stroke: 2px black;
}

/* WIN and Lose overlay */
.win-overlay {
  background-color: gold;
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.win-overlay a {
  text-decoration: none;
}

.win-text {
  font-size: 150px;
  color: teal;
  -webkit-text-stroke: 8px black;
}

.overlay-img {
  height: 500px;
  width: 800px;
}

.lose-overlay {
  background-color: black;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 7;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.lose-text {
  font-size: 150px;
  color: teal;
  -webkit-text-stroke: 4px #e93125;
}

.lose-overlay a {
  text-decoration: none;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.close-btn {
  position: absolute;
  color: teal;
  top: 20px;
  right: 45px;
  font-size: 80px;
}

.close-btn:hover {
  color: rgba(0, 128, 128, 0.397);
}

/* animation */
.animated-icon {
  -webkit-animation-duration: 2.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(2);
  }
  50% {
    transform: translateY(-5px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/* main-title animation */
.animated-main-title {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce-title {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}

@keyframes bounce-title {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(5);
  }
  50% {
    transform: translateY(-5px);
  }
}

.bounce-title {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/* reset spin */

#reset-btn:hover {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*---------------------------- MEDIA QUERIES -----------------  */

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait){
  #main-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
  }

  #game-instructions {
    width: 300px;
    height: 495px;
    margin-bottom: 0px;
  }

  #instructions-header {
    font-size: 20px;
    -webkit-text-stroke: 1px black;
  }

  .instructions-p {
    font-size: 24px;
    line-height: 24px;
    -webkit-text-stroke: 1px black;
  }

  #start-btn {
    visibility: visible;
    margin: 30px auto 20px auto;
    width: 188px;
  }

  #reset-btn {
    visibility: hidden;
  }

  #icon-container {
    margin-top: 0px;
  }

  #enter-icon {
    visibility: visible;
    margin-bottom: 50px;
    font-size: 65px;
  }

  #game-section {
    margin-top: 10px;
  }

  .game-header {
    flex-direction: column-reverse;
    height: auto;
  }

  .game-display {
    width: 234px;
    height: 160px;
  }

  .game-display-value {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  .jewel-container {
    flex-wrap: wrap;
    align-content: space-between;
  }

  .jewel-img {
    width: 120px;
    height: 120px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

/* Landscape */
@media only screen and (min-width: 375px) and (min-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #main-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
  }

  #game-instructions {
    width: 300px;
    height: 300px;
    background-repeat: repeat-y;
  }

  #instructions-header {
    font-size: 20px;
    -webkit-text-stroke: 1px black;
  }

  .instructions-p {
    font-size: 16px;
    line-height: 20px;
    -webkit-text-stroke: 1px black;
  }

  #start-btn {
    position: relative;
    visibility: visible;
    margin: 0 auto;
    width: 188px;
    top: 150px;
  }

  #reset-btn {
    visibility: hidden;
  }

  #icon-container {
    margin-top: 0px;
  }

  #enter-icon {
    visibility: hidden;
  }

  #game-section {
    background-size: cover;
    margin-top: 10px;
  }

  .game-header {
    flex-direction: column-reverse;
    height: auto;
  }

  .game-display {
    width: 150px;
    height: 150px;
  }

  .game-display-value {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }

  .wins-losses-box {
    height: 75px;
  }

  .wins-losses-box > p {
    font-size: 16px;
  }

  .wins-losses-h2 {
    font-size: 20px;
  }

  .jewel-container {
    flex-wrap: wrap;
    align-content: space-between;
  }

  .jewel-img {
    width: 120px;
    height: 120px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}


/* -----------mobile 360 width----------- */
/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

    #main-title {
      font-size: 40px;
      text-align: center;
      margin-bottom: 20px;
    }
  
    #game-instructions {
      width: 300px;
      height: 440px;
      margin-bottom: 0px;
    }
  
    #instructions-header {
      font-size: 20px;
      -webkit-text-stroke: 1px black;
    }
  
    .instructions-p {
      font-size: 20px;
      line-height: 24px;
      -webkit-text-stroke: 1px black;
    }
  
    #start-btn {
      visibility: visible;
      margin: 30px auto 20px auto;
      width: 188px;
    }
  
    #reset-btn {
      visibility: hidden;
    }
  
    #icon-container {
      margin-top: 0px;
    }
  
    #enter-icon {
      visibility: visible;
      margin-bottom: 45px;
      font-size: 75px;
    }
  
    #game-section {
      margin-top: 10px;
    }
  
    .game-header {
      flex-direction: column-reverse;
      height: auto;
    }
  
    .game-display {
      width: 234px;
      height: 160px;
    }
  
    .game-display-value {
      font-size: 40px;
    }
  
    h2 {
      font-size: 30px;
    }
  
    .jewel-container {
      flex-wrap: wrap;
      align-content: space-between;
    }
  
    .jewel-img {
      width: 120px;
      height: 120px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
}

/* Landscape */
@media screen 
  and (min-width: 360px) 
  and (min-width: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

    #main-title {
      font-size: 30px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 0;
    }
  
    #game-instructions {
      width: 300px;
      height: 300px;
      background-repeat: repeat-y;
    }
  
    #instructions-header {
      font-size: 20px;
      -webkit-text-stroke: 1px black;
    }
  
    .instructions-p {
      font-size: 16px;
      line-height: 20px;
      -webkit-text-stroke: 1px black;
    }
  
    #start-btn {
      position: relative;
      visibility: visible;
      margin: 0 auto;
      width: 188px;
      top: 150px;
    }
  
    #reset-btn {
      visibility: hidden;
    }
  
    #icon-container {
      margin-top: 0px;
    }
  
    #enter-icon {
      visibility: hidden;
    }
  
    #game-section {
      background-size: cover;
      margin-top: 10px;
    }
  
    .game-header {
      flex-direction: column-reverse;
      height: auto;
    }
  
    .game-display {
      width: 150px;
      height: 150px;
    }
  
    .game-display-value {
      font-size: 30px;
    }
  
    h2 {
      font-size: 30px;
    }
  
    .wins-losses-box {
      height: 75px;
    }
  
    .wins-losses-box > p {
      font-size: 16px;
    }
  
    .wins-losses-h2 {
      font-size: 20px;
    }
  
    .jewel-container {
      flex-wrap: wrap;
      align-content: space-between;
    }
  
    .jewel-img {
      width: 120px;
      height: 120px;
      margin-right: 5px;
      margin-bottom: 5px;
    }

}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #main-title {
      font-size: 40px;
      text-align: center;
      margin-bottom: 20px;
    }
  
    #game-instructions {
      width: 300px;
      height: 495px;
      margin-bottom: 0px;
    }
  
    #instructions-header {
      font-size: 20px;
      -webkit-text-stroke: 1px black;
    }
  
    .instructions-p {
      font-size: 24px;
      line-height: 24px;
      -webkit-text-stroke: 1px black;
    }
  
    #start-btn {
      visibility: visible;
      margin: 30px auto 20px auto;
      width: 188px;
    }
  
    #reset-btn {
      visibility: hidden;
    }
  
    #icon-container {
      margin-top: 0px;
    }
  
    #enter-icon {
      visibility: visible;
      margin-bottom: 50px;
      font-size: 65px;
    }
  
    #game-section {
      margin-top: 10px;
    }
  
    .game-header {
      flex-direction: column-reverse;
      height: auto;
    }
  
    .game-display {
      width: 234px;
      height: 160px;
    }
  
    .game-display-value {
      font-size: 40px;
    }
  
    h2 {
      font-size: 30px;
    }
  
    .jewel-container {
      flex-wrap: wrap;
      align-content: space-between;
    }
  
    .jewel-img {
      width: 120px;
      height: 120px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
}

/* ----------- Galaxy S6 ----------- */



/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
    #main-title {
      font-size: 40px;
      text-align: center;
      margin-bottom: 20px;
    }
  
    #game-instructions {
      width: 300px;
      height: 495px;
      margin-bottom: 0px;
    }
  
    #instructions-header {
      font-size: 20px;
      -webkit-text-stroke: 1px black;
    }
  
    .instructions-p {
      font-size: 24px;
      line-height: 24px;
      -webkit-text-stroke: 1px black;
    }
  
    #start-btn {
      visibility: visible;
      margin: 30px auto 20px auto;
      width: 188px;
    }
  
    #reset-btn {
      visibility: hidden;
    }
  
    #icon-container {
      margin-top: 0px;
    }
  
    #enter-icon {
      visibility: visible;
      margin-bottom: 50px;
      font-size: 65px;
    }
  
    #game-section {
      margin-top: 10px;
    }
  
    .game-header {
      flex-direction: column-reverse;
      height: auto;
    }
  
    .game-display {
      width: 234px;
      height: 160px;
    }
  
    .game-display-value {
      font-size: 40px;
    }
  
    h2 {
      font-size: 30px;
    }
  
    .jewel-container {
      flex-wrap: wrap;
      align-content: space-between;
    }
  
    .jewel-img {
      width: 120px;
      height: 120px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
}



/* --------Tablet--------- */

/* Portrait */
@media only screen 
  and (min-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    #main-title {
      font-size: 70px;
      text-align: center;
      margin-bottom: 20px;
    }
  
    #game-instructions {
      width: 600px;
      height: 600px;
      margin-bottom: 0px;
      margin-top: 50px;
    }
  
    #instructions-header {
      font-size: 40px;
      -webkit-text-stroke: 2px black;
    }
  
    .instructions-p {
      font-size: 40px;
      line-height: 40px;
      -webkit-text-stroke: 2px black;
    }
  
    #start-btn {
      visibility: visible;
      margin: 30px auto 20px auto;
      width: 188px;
    }
  
    #reset-btn {
      visibility: hidden;
    }
  
    #icon-container {
      margin-top: 0px;
    }
  
    #enter-icon {
      visibility: visible;
      margin-bottom: 45px;
      font-size: 200px;
    }
  
    #game-section {
      margin-top: 10px;
    }
  
    .game-header {
      flex-direction: column-reverse;
      height: auto;
    }
  
    .game-display {
      width: 234px;
      height: 160px;
    }
  
    .game-display-value {
      font-size: 45px;
    }
  
    h2 {
      font-size: 38px;
    }
  
    .jewel-container {
      flex-wrap: wrap;
      align-content: space-between;
      margin-top: 30px;
    }
  
    .jewel-img {
      width: 300px;
      height: 300px;
      margin-right: 5px;
      margin-bottom: 5px;
    }

}

/* Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #main-title {
      font-size: 60px;
      text-align: center;
      margin-bottom: 20px;
    }
  
    #game-instructions {
      width: 600px;
      height: 400px;
      margin-bottom: 0px;
      margin-top: 50px;
    }
  
    #instructions-header {
      font-size: 30px;
      -webkit-text-stroke: 2px black;
    }
  
    .instructions-p {
      font-size: 30px;
      line-height: 33px;
      -webkit-text-stroke: 2px black;
    }
  
    #start-btn {
      visibility: visible;
      margin: 30px auto 20px auto;
      width: 188px;
    }
  
    #reset-btn {
      visibility: hidden;
    }
  
    #icon-container {
      margin-top: 0px;
    }
  
    #enter-icon {
      visibility: visible;
      margin-bottom: 45px;
      font-size: 150px;
    }
  
    #game-section {
      margin-top: 10px;
    }
  
    .game-header {
      flex-direction: column-reverse;
      height: auto;
    }
  
    .game-display {
      width: 234px;
      height: 160px;
    }
  
    .game-display-value {
      font-size: 45px;
    }
  
    h2 {
      font-size: 38px;
    }

    .wins-losses-box > p {
     
      font-size: 35px;
    }

    .wins-losses-box{
      height: 105px;
    }
  
    .jewel-container {
      flex-wrap: wrap;
      align-content: space-between;
      margin-top: 50px;
    }
  
    .jewel-img {
      width: 200px;
      height: 200px;
      margin-right: 15px;
      margin-bottom: 5px;
    }

}
