* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Permanent Marker", cursive;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #040f16;
}

body::-webkit-scrollbar-thumb {
  background-color: teal;
  outline: 3px solid gold;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hero-section {
  background-image: url(../images/run-the-jewels-animated.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#main-title {
  color: #e0d7d7;
  -webkit-text-stroke: 3px rgb(0, 128, 128);
  font-family: "Permanent Marker", cursive;
  font-size: 100px;
  letter-spacing: 15px;
  text-align: left;
  padding-top: 5%;
  margin-bottom: 75px;
  margin-left: 50px;
  /* border-bottom: 2px solid teal; */
  overflow: hidden;
  z-index: 2;
}

#main-title:hover {
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 4px teal;
}

#game-instructions {
  background-color: rgb(0, 128, 128);
  color: #ffffff;
  width: 700px;
  height: 400px;
  border: 5px solid rgba(255, 217, 0, 0.746);
  padding: 20px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

#instructions-header {
  color: #ffffff;
  -webkit-text-stroke: 3px black;
  font-size: 40px;
  border-bottom: 2px solid gold;
  margin-bottom: 10px;
  text-align: center;
}

.instructions-p {
  -webkit-text-stroke: 2px black;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

#icon-container {
  margin-top: 30px;
  text-align: center;
}

#enter-icon {
  color: rgb(255, 217, 0);
  font-size: 100px;
  text-align: center;
  margin-bottom: 80px;
}

#enter-icon:hover {
  color: teal;
  -webkit-text-stroke: 2px #ffffff;
}

/* Hero section styles end */

#game-section {
  background-image: url(../images/run-the-jewels-animated.jpg);
  background-color: black;
  height: 100vh;
  margin-top: 200px;
}

.game-display {
  background-color: teal;
  text-align: center;
  width: 800px;
  height: 155px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  border: 5px solid black;
}

h2 {
  color: black;
  -webkit-text-stroke: 2px rgb(255, 217, 0);
  font-size: 40px;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}

.game-display-value {
  color: black;
  -webkit-text-stroke: 2px rgb(255, 217, 0);
  font-size: 80px;
}

#reset-btn {
  position: relative;
  display: inline;
  color: teal;
  -webkit-text-stroke: 2px gold;
  text-align: center;
  font-size: 80px;
  width: 300px;
  height: 300px;
  margin-left: 80px;
  top: -120px;
  left: 100px;
  z-index: 2;
}

.jewel-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0 10px 0;
}

.jewel-img {
  width: 300px;
  height: 300px;
  border: 5px solid rgb(255, 217, 0);
  margin-right: 50px;
}

.jewel-img:last-child {
  margin-right: 0;
}

.jewel-img:hover {
  border: 20px solid teal;
}

#wins-lose-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.wins-losses-box {
  background-color: gold;
  text-align: center;
  width: 600px;
  height: 100px;
  padding: 10px;
  margin-right: 20px;
  border: 6px solid black;
}

.wins-losses-box > p {
  color: teal;
  -webkit-text-stroke: 2px black;
  font-size: 25px;
}

.wins-losses-h2 {
  color: teal;
  -webkit-text-stroke: 2px black;
}

/* WIN and Lose overlay */
.win-overlay {
  background-color: gold;
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.win-overlay a {
  text-decoration: none;
}

.win-text {
  font-size: 150px;
  color: teal;
  -webkit-text-stroke: 8px black;
}

.overlay-img {
  height: 500px;
  width: 800px;
}

.lose-overlay {
  background-color: black;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 7;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.lose-text {
  font-size: 150px;
  color: teal;
  -webkit-text-stroke: 4px #e93125;
}

.lose-overlay a {
  text-decoration: none;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.close-btn {
  position: absolute;
  color: teal;
  top: 20px;
  right: 45px;
  font-size: 80px;
}

.close-btn:hover {
  color: rgba(0, 128, 128, 0.397);
}

/* animation */
.animated-icon {
  -webkit-animation-duration: 2.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(2);
  }
  50% {
    transform: translateY(-5px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/* main-title animation */
.animated-main-title {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce-title {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}

@keyframes bounce-title {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(5);
  }
  50% {
    transform: translateY(-5px);
  }
}

.bounce-title {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/* reset spin */

#reset-btn:hover {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
